/* Jumbotron */
.jumbotron {
    background: #459373 !important;
    background-size: cover;
    min-height: 709px;
    padding: 6.5rem 2rem!important;
}
.title {
    padding-top: 80px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 2px 0px 10px rgba(0, 0, 0, 1);
}
.description {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-shadow: 2px 0px 10px rgba(0, 0, 0, 1);
}
@media (max-width: 576px) { 
    .spasi {
        margin-top: 1rem !important;
        margin-left: 0!important;
    }
 }
 @media (min-width: 768px) { 
     .spasi {
         margin-left: 4rem !important;
     }
  }
  @media (min-width: 1200px) { 
      .spasi {
          margin: 0!important;
      }
   }
  
/* Navbar */
.navbar-brand img {
    margin-right: 10px;
}
.navbar {
    background-color: #307A59;
}
/* button */
.btn-circle {
    border-radius: 100%!important;
}
.bton {
    padding: 3rem;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 3rem;
    font-weight: bold;
}
/* mie sedap */
.about {
    padding: 10rem 0 10rem 0;
}
/* about */
#about {
    padding: 12rem 0;
}
.mantab{
    font-weight: bold;
    font-size: 5rem;
}
/* team */
#team {
    background: #459373 !important;
}


section .team {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #fff;
    padding: 50px !important;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
}
/* copyright */
.copyright a {
    text-decoration: none !important;
    color: white !important;
    font-weight: bold;
}
.copyright {
  color: white !important;
}
/* tambahan */
.img-radius {
  border-radius: 50%;
}
.f-w-600 {
  font-weight: 600;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-t-15 {
  margin-top: 15px;
}
.text-muted {
  color: #919aa3!important;
}
.bg-c-blue {
background: linear-gradient(45deg,#4099ff,#73b4ff);
}
.bg-c-green {
background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}
.bg-c-yellow {
background: linear-gradient(45deg,#FFB64D,#ffcb80);
}
.bg-c-pink {
background: linear-gradient(45deg,#FF5370,#ff869a);
}
.m-t-10 {
margin-top: 0.625rem;
}
.p-20 {
padding: 1.25rem;
}
.c-black {
  color: black !important;
}
a.color-wt-lnk {
  font-size: 1rem;
  color: white !important;
}
a.color-wt-lnk:hover {
  color: white !important;
}
.weight-bld, .weight-bld:hover {
  font-weight: bold;
  font-size: 1.2rem !important;
}
.p-left-10 {
  padding-left: 10px;
}
.m-left-10 {
    padding-left: 10px;
}
.atasp {
    padding-top: 2rem;
}